/* .row{
  background-color: black;
  margin: 20px;
  padding: 10px;

}

.row >div{
  background-color: blue;
  margin: 5px;
  border: 1px solid #cccccc;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;

} */


